# udev rules for Mountain DisplayPad
# Install: sudo cp 40-opendeck-displaypad.rules /etc/udev/rules.d/ && sudo udevadm control --reload-rules
# Mountain DisplayPad (VID: 3282, PID: 0009)
SUBSYSTEMS=="usb", ATTRS{idVendor}=="3282", ATTRS{idProduct}=="0009", MODE="0666", TAG+="uaccess"
KERNEL=="hidraw*", SUBSYSTEMS=="hidraw", ATTRS{idVendor}=="3282", ATTRS{idProduct}=="0009", MODE="0666", TAG+="uaccess"
